<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages enableSessionState="true"></pages>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="EditProfile.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>

    <membership defaultProvider="SqlMembership">
      <providers>
        <add
        name="SqlMembership"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="SqlSecurityDB"
        connectionString="Server=otk-dbdev-01;database=neal;user id=neal; password=8511;"
        applicationName="CST465"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
